@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  scroll-behavior: smooth;
  color: white;
}
nav.navbar {
  position: fixed;
  width: 100%;
}
section {
  min-height: 100vh;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 14px;
}
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #a3c4c0), url(images/gym.jpg);
  background-size: cover;
  background-position: center;
}

.dsp {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.dsp-items {
  flex-basis: 48%;
  text-align: start;
  color: #fff;
}
nav.navbar{
    z-index: 2;
}
.home-text {
  padding: 6rem 2rem 2rem;
  text-align: center;
}
.home-text h1 {
  font-family: "cooper", cursive;
  padding-top: 20px;
  color: #dc3545;
}
.home-text h4 {
  padding-top: 20px;
  font-family: "Kaushan Script", cursive;
}

.about-section {
  text-align: center;
  padding-top: 4rem;
}
.about-section h2,
span {
  font-family: "Kaushan Script", cursive;
}
.dsp-itemx1 img {
  border-radius: 15px;
 margin-top: 50px;
}
.dspl{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;  
}
.dsp-itms{
flex-basis: 30%;
}
.dsp-itms2{
flex-basis: 24%;
}
.dsp-itms img{
    object-fit: cover;
    border-radius: 10px;
    width: 380px;
    margin-top: 10px;
}
.dsp-itemx1 {
  flex-basis: 36%;
}
.dsp-itemx2 {
  flex-basis: 60%;
  text-align: start;
  color: #fff;
}
.icon-part .fa-brands, .icon-part i {
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #009688;
  border: 2px solid #009688;
}

.social-links .fa-brands{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background: transparent;
  border: 0.2rem solid #dc3545;
  border-radius: 50%;
  font-size: 1rem;
  color: #dc3545;
  margin: 2rem 1rem 3rem 0;
  transition: 0.1s ease;
}

.social-links .fa-brands:hover {
  background: #dc3545;
  color: white;
  box-shadow: 0 0 1rem #dc3545;
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .dsp-items {
    flex-basis: 100%;
  }
  .dsp-itemx1, .dsp-itemx2 {
    flex-basis: 100%;
  }
  .home-text h1 {
    font-size: 40px;
  }
  .services-section .dsp-itms{
    flex-basis: 100%;
  }
  .dsp-itms2{
    flex-basis: 100%;
  }
}
@media (max-width: 600px) {
  .dsp-items {
    flex-basis: 100%;
  }
  .home-text h1 {
    font-size: 40px;
  }
  .services-section .dsp-itms{
    flex-basis: 100%;
  }
  .dsp-itms{
    flex-basis: 100%;
  }
  .dsp-itms2{
    flex-basis: 100%;
  }
}

.services-section {
    text-align: center;
    padding-top: 4rem;
  }

  .services-section h2,
  span {
    font-family: "Kaushan Script", cursive;
  }
.programs-section {
    text-align: center;
    padding-top: 4rem;
  }
  .programs-section h2,
  span {
    font-family: "Kaushan Script", cursive;
  }

  .contact-section {
    text-align: center;
    padding-top: 4rem;
  }
  .contact-section h2,
  span {
    font-family: "Kaushan Script", cursive;
  }
.all a{
color: #212529;
font-weight: bold;
}

label {
    position: relative;
  }
  input {
    border: 1px solid red;
    width: 300px;
    height: 40px;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .btnx {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* background-color:white; */
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }