@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  scroll-behavior: smooth;
}
section {
  max-width: 1500px;
  margin: 0 auto;
}
.sub2{
  padding: 5rem 3rem 3rem;
  }


/* navbar header */
.header{
  position: fixed;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  top: 36px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 z-index: 99;
 padding: 1rem 1.5rem;
background: #212529;
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.logo-nav{
  display: flex;
  align-items:center;
  letter-spacing: -1px;
}
.logo-nav a{
  align-items: center;
  font-size: 18px;
  font-family: Poppins;
  color: #fff;
}
.fa-dumbbell{
  transform: rotate(45deg);
}
.nv-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
#nv-items a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
   padding: 10px 1rem;
    align-items:center;
}
.socialx{
    padding: 8px 1.5rem;
    background: linear-gradient(to right, #364555, #494949);
    /* background: linear-gradient(to right, #364555, #6f3985); */
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
}
.socialx span {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.socialx i {
  font-size: 14px;
  /* color: #6f3985; */
  color: #364555;
}
#nv-items a:active {
    color:#ba481b;
}
#nv-items a:hover {
    color:#ba481b;
}

#menu-icon{
  width: 14px;
  aspect-ratio: 1;
    font-size: 1.3rem;
    color: #fff;
    display: none;
}
div.menu-box{
  display: none;
  align-items: center;
  justify-content: center;
}

/* landing page */
.landing-page{
  color: white;
  background:linear-gradient(rgba(0,0,0,0.05), #202020), url(images/loft-gym.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.base-content{
  background-color: #ffffff7a;
  padding: 1rem ;
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
}
.link-block {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 50px;
  width: 100%;
  padding-left: 10px;
}
.link-block span {
  width:30px;
  aspect-ratio: 1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: all ease .3s;
}
.link-block i {
  font-size: 14px;
  /* color: #6f3985; */
  color: #364555;
}
.link-block span:hover{
  transform: translate(0px, -5px);
  background: rgba(0, 0, 0, 0.493);
}
.link-block span:hover i{
  color: #fff;
}
.content-ad01{
  background-image: linear-gradient(#2125291a, #202020),url(images/kettlebell.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}
.content-ad04{
  background-image: linear-gradient(#2125291a, #202020),url(images/rig-dumbell.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 1rem;
  border-radius: 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  /* display: none; */
}
.content-ad05{
  background-image: linear-gradient(#2125291a, #202020),url(images/gym-benchset.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 1rem;
  border-radius: 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  /* display: none; */
}
.content-ad06{
  background-image: linear-gradient(#2125291a, #202020),url(images/gym-rack3d.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 1rem;
  border-radius: 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  /* display: none; */
}
.content-ad07{
  background-image: linear-gradient(#2125291a, #202020),url(images/dumbell-mockup.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 1rem;
  border-radius: 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  /* display: none; */
}

.content-link{
  background: #ffffff7a;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  aspect-ratio: 1;
  display:flex ;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.content-ad02{
  background-image: linear-gradient(#21252908, #202020),url(images/dumbell-mockup.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}
.content-ad03{
  background-image: linear-gradient(#21252908, #202020),url(images/gym-benchset.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}
.impression{
  height: 400px;
  position: relative;
}
.impression h1{
  font-size: 70px;
  font-weight: 900;
  line-height: 1.8;
}
.impression h1:nth-child(2){
position: absolute;
top: 40%;
left: 40%;
}
.impression h1:nth-child(3){
position: absolute;
left: 80%;
bottom: -5%;
}

.content-right{
  width: 400px;
  position: absolute;
  top: 10%;
  right: 10%;
}
.content-left{
  width: 400px;
  position: absolute;
  bottom: 10%;
  left: 0%;
}



.arrange{
  display: flex;
  align-items: center;
  gap: 1rem;
  color:#000;
}

.pex{
  border: 3px solid ;
}
.dsp {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.dsp-items {
  flex-basis: 48%;
  text-align: start;
  color: #fff;
}
nav.navbar{
    z-index: 2;
}
.home-text {
  padding: 4rem 2rem 2rem;
  text-align: center;
}
.home-text h1 {
  font-family: "Jacques Francois Shadow", cursive;
  /* font-weight: 700; */
  padding-top: 20px;
  color: rgb(255, 195, 195);
}
.section-sm{
  padding: 4rem 0 2rem; 
  width: 95%;
}
.web{
  display: block;
}
.mobile{
  display: none;
}
.home-text h4 {
  padding-top: 20px;
  font-family: "Kaushan Script", cursive;
}

.about-section {
  text-align: center;
  padding-top: 4rem;
}
.about-section h2 {
  font-family: "Kaushan Script", cursive;
}
.dsp-itemx1 img {
  border-radius: 15px;
 margin-top: 50px;
}
.dspl{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;  
}
.dsp-itms{
flex-basis: 30%;
}
.dsp-itms2{
flex-basis: 24%;
}
.dspl .rd img{
  border-radius: 10px;
}
.dsp-itemx1 {
  flex-basis: 36%;
}
.dsp-itemx2 {
  flex-basis: 60%;
  text-align: start;
  color: #fff;
}
.icon-part .fa-brands, .icon-part i {
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #009688;
  border: 2px solid #009688;
}

.social-links .fa-brands{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background: transparent;
  border: 0.2rem solid #dc3545;
  border-radius: 50%;
  font-size: 1rem;
  color: #dc3545;
  margin: 1rem 1rem 2rem 0;
  transition: 0.1s ease;
}

.social-links .fa-brands:hover {
  background: #dc3545;
  color: white;
  box-shadow: 0 0 1rem #dc3545;
  transform: translateY(-10px);
}












@media (max-width: 1080px) {
  .sub2{
    padding: 3rem 1rem 2rem;
  }
  .brack{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .content-ad04{
    display: flex;
  }
  .base-content{
    border-radius: .1rem;
  }
  .impression h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 1.8;
  }
  .impression h1:nth-child(2){
    position: absolute;
    top: 20%;
    left: 0%;
    }
    .impression h1:nth-child(3){
    position: absolute;
    left: 0%;
    top: 40%;
    }
    .content-right{
      top: 10%;
      right: 0%;
    }
    .content-left{
      bottom: 10%;
      left: 45%;
    }
    
  .base-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .dsp-items {
    flex-basis: 100%;
  }
  .dsp-itemx1, .dsp-itemx2 {
    flex-basis: 100%;
  }
  .home-text h1 {
    font-size: 40px;
  }
  .services-section .dsp-itms{
    flex-basis: 100%;
  }
  .dsp-itms2{
    flex-basis: 100%;
  }
  .section-sm{
    padding: 2rem 0 0; 
    width: 95%;
  }
  .header{
    top: 26px;
    padding: 0rem;
    padding-left: 1rem;
    align-items: center;
  }

  .nv-item {
    position: absolute;
    top: 60px;
    right: -100rem;
    width: 55%;
    height: 50;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    background: #6c757d;
    color: #0f885b;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .8rem 0 1rem 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: all ease 0.5s;
}
.nv-item.active{
  right: .5rem;
}
.socialx{
  margin: 10px 0 0;
  padding: 8px 10px;
  width: 100%;
}
div.menu-box{
  display: block;
  padding: 1rem 1.4rem 1rem 1.2rem;
  background:#6c757d;
  ;
  border-radius: 0 0 0 .6rem;
}
.web{
  display: none;
}
.mobile{
  display: block;
}
#menu-icon{
  display: block;
}


  .nv-item a{
    display: block !important;
  }
}



















@media (max-width: 600px) {
  .brack{
    display: flex;
  }
  .link-block {
    padding: 0;
  }
  .content-ad01,.content-ad02,.content-ad03{
    display: none;
  }
  .content-ad04,.content-ad05,.content-ad06,.content-ad07{
font-size: 12px;
  }
  .sub2{
    padding: 4rem 10px 20px;
  }
  .impression h1{
    font-size: 60px;
    font-weight: 900;
    line-height: 0.1;
    margin:0;
  }
  .impression h1:nth-child(1){
    position: absolute;
    top: 5%;
    left: 0%;
    }
  .impression h1:nth-child(2){
    position: absolute;
    top: 20%;
    left: 20%;
    }
    .impression h1:nth-child(3){
    position: absolute;
    left: 50%;
    top: 35%;
    }
    .content-right{
      width: 300px;
      top: 50%;
      right: 5%;
    }
    .impression{
      height: 500px;
    }
    .impression h5{
      font-size: 14px;
    }
    .impression p{
      font-size: 12px;
    }
    .content-left{
      width: 300px;
      bottom: 10%;
      left: 2%;
    }
    
  .base-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .dsp-items {
    flex-basis: 100%;
  }
  .home-text h1 {
    font-size: 40px;
  }
  .services-section .dsp-itms{
    flex-basis: 100%;
  }
  .dsp-itms{
    flex-basis: 100%;
  }
  .dsp-itms2{
    flex-basis: 100%;
  }
}

.services-section {
    text-align: center;
    padding-top: 4rem;
  }

  .services-section h2 {
    font-family: "Kaushan Script", cursive;
  }
.programs-section {
    text-align: center;
    padding-top: 4rem;
  }
  .programs-section h2 {
    font-family: "Kaushan Script", cursive;
  }

  .contact-section {
    text-align: center;
    padding-top: 4rem;
  }
  .contact-section h2 {
    font-family: "Kaushan Script", cursive;
  }
.all a{
color: #212529;
font-weight: bold;
}

label {
    position: relative;
  }
  input {
    border: 1px solid red;
    width: 300px;
    height: 40px;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .btnx {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* background-color:white; */
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }